<footer>
  <content>
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <p>COPYRIGHT © 2016-2025 KARL OSCAR WEBER,<br>
      ALL RIGHTS RESERVED<br>
      <a href="mailto:me@kow.fm">CONTACT ME AT ME@KOW.FM</a><br>
      <a class="SKY" href="https://bsky.app/profile/kow.fm">FIND ME ON BLUE SKY AS KOW.FM</a>, <a class="MASTO" href="https://ruby.social/@kowfm)">MASTODON AS @KOWFM@RUBY.SOCIAL</a>, AND <a href="https://linkedin.com/in/kowfm">AS KARL OSCAR WEBER ON LINKEDIN</a>. <a class="dribbbble" href="https://dribbble.com/kowfm">SEE MY ART AND DESIGN ON DRIBBBBBBBBBLE</a>, <a class="SPAM" href="https://buttondown.email/capsule">GET SPAM MY NEWSLETTER</a> AND <a class="cheese" href="https://www.twitch.tv/kowfm">WATCH MY SCREENCAST 🎙 GRILLED CHEESE</a> WEEKLY.</p>
  </content>
</footer>
