---
layout_class: home
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <page>
      <main layout="{{ layout.layout_class }}" aria-label="Content">
        {%- include header.html -%}
        
        {{ content }}
      </main>
      {%- include footer.html -%}
    </page>
  </body>

  <script type="module" src="/assets/scripts.js"></script>
  <script src="https://tinylytics.app/embed/vyjBjC5_y9_HGBoXG_xA.js" defer></script>

</html>
