---
layout: post
layout_class: home
---
  <!-- <promo style="display:none;">
    {%- if page.image -%}
      <picture>
        {%- if page.image_link -%}
        <a href="{{ page.image_link }}">
          <img alt="{{ page.image_alt }}" src="{{ page.image }}" >
        </a>
        {%- else -%}
          <img alt="{{ page.image_alt }}" src="{{ page.image }}" >
        {%- endif -%}
      </picture>
    {%- endif -%}
  </promo> -->
  
  {{ content }}
  
    
  {%- if page.image -%}
    <picture>
      <img class="{%- if page.image_class -%} {{ page.image_class }} {%- else -%} normal {%- endif -%}" alt="{{ page.image_alt }}" src="{{ page.image }}" >
      {%- if page.image_alt -%}
      <p>{{page.image_alt}}</p>
      {%- endif -%}
      <p></p>
    </picture>
  {%- endif -%}
  
    
    {% include recent.html %}
    
    <columnsheader hiddenlinks twocolumns> <h4>Links</h4> </columnsheader>
    <ul columns="two">
      <li><a href="mailto:me@kow.fm">me@kow.fm</a></li>
      <li><a href="https://ruby.social/@kowfm">Mastodon</a></li>
      <li><a href="https://bsky.app/profile/kow.fm">Blue Sky</a></li>
      <li><a href="https://linkedin.com/in/kowfm">LinkedIn</a></li>
      <li><a href="https://buttondown.email/capsule">SPAM</a></li>
      <li><a href="https://dribbble.com/kowfm">Dribbble</a></li>
      <li>🎙<a href="https://www.twitch.tv/kowfm">Grilled Cheese</a></li>
    </ul>
    
    <columnsheader hiddenlinks twocolumns> <h4>Interviews</h4> </columnsheader>
    <ul columns="two">
      <li><a href="https://shows.acast.com/dead-code/episodes/lets-go-camping-with-karl-oscar-weber">Dead Code</a></li>
      <li><a href="https://www.fullstackruby.dev/podcast/12/">Full Stack Ruby</a></li>
    </ul>
    
    <columnsheader hiddenlinks twocolumns> <h4>Talks</h4> </columnsheader>
    <ul columns="two">
      <li><a href="https://www.rubyvideo.dev/talks/mvc-ruby-in-less-than-5k-the-wonder-of-camping">MVC Ruby in <5k: The wonder of Camping</a></li>
    </ul>
    
