---
layout: default
layout_class: post
---
<article layout="{%- if page.layout_class -%} {{ page.layout_class }} {%- else -%} post {%- endif -%}" type="post" itemscope itemtype="http://schema.org/BlogPosting">
  
  {%- if page.image -%}
    <picture>
      <img class="{%- if page.image_class -%} {{ page.image_class }} {%- else -%} normal {%- endif -%}" alt="{{ page.image_alt }}" src="{{ page.image }}" >
      {%- if page.image_alt -%}
      <p>{{page.image_alt}}</p>
      {%- endif -%}
      <p></p>
    </picture>
  {%- endif -%}
  
  {%- if page.title -%}
    <h1 itemprop="name headline">{{ page.title }}</h1>
    {%- if page.extremelysmalllettersundertitle -%}
      <p class="extremelysmalllettersundertitle">{{ page.extremelysmalllettersundertitle }}</p>
    {%- endif -%}
  {%- endif -%}
  
  {%- if page.date -%}
    <p type="meta" class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      • by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}</p>
  {%- endif -%}

  <content itemprop="articleBody">
    {{ content }}
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </content>
  
  {%- if page.author_card -%}
  <authorcard>
    {%- include {{ page.author_card }} -%}
  </authorcard>
  {%- endif -%}</p>

</article>
